extends layout

block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='/') Dashboard
        li.breadcrumb-item.active Admin
    .row.text-center.justify-content-center.center
        .col-xl-3.col-md-4.col-sm-6.mb-3
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='/admin/users', style='width: auto;')
                .card-body
                    i.fas.fa-user-cog.fa-3x
                    h4.card-title.font-weight-bold Users
        .col-xl-3.col-md-4.col-sm-6.mb-
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='#', style='width: auto;')
                .card-body
                    i.fas.fa-users-cog.fa-3x
                    h4.card-title.font-weight-bold Customers
        .col-xl-3.col-md-4.col-sm-6.mb-3
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='#', style='width: auto;')
                .card-body
                    i.fas.fa-barcode.fa-3x
                    h4.card-title.font-weight-bold Inventory
        .col-xl-3.col-md-4.col-sm-6.mb-3
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='#', style='width: auto;')
                .card-body
                    i.fas.fa-money-check-alt.fa-3x
                    h4.card-title.font-weight-bold Payroll
        .col-xl-3.col-md-4.col-sm-6.mb-3
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='/admin/configure', style='width: auto;')
                .card-body
                    i.fas.fa-cash-register.fa-3x
                    h4.card-title.font-weight-bold Configure
        .col-xl-3.col-md-4.col-sm-6.mb-3
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='#', style='width: auto;')
                .card-body
                    i.fas.fa-chart-line.fa-3x
                    h4.card-title.font-weight-bold Charts
