extends layout

block content
    .container
        .card.card-login.mx-auto.mt-5
            .card-header Reset Password
            .card-body
                .text-center.mb-4
                    h4 Forgot your password?
                    p
                        | Contact an administrator to have your password reset.
                .text-center
                    a.d-block.small(href='login') Login Page