extends layout

block content
    .container
        .card.card-login.mx-auto.mt-5
            .card-header Reset Password
            .card-body
                .text-center.mb-4
                    h4 Forgot your password?
                    p
                        | Enter your email address and we will send you instructions on how to reset your password.
                form
                    .form-group
                        .form-label-group
                            input#inputEmail.form-control(type='email' placeholder='Enter email address' required='required' autofocus='autofocus')
                            label(for='inputEmail') Enter email address
                    a.btn.btn-primary.btn-block(href='login') Reset Password
                .text-center
                    a.d-block.small.mt-3(href='register') Register an Account
                    a.d-block.small(href='login') Login Page