extends layout

block content
    ol.breadcrumb
        li.breadcrumb-item.active
            a(href='/') Dashboard
    .row.text-center.justify-content-center.center
        .col-xl-3.col-md-4.col-sm-6.mb-3
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='/rental_shop', style='width: auto;')
                .card-body
                    i.fas.fa-skiing.fa-3x
                    h4.card-title.font-weight-bold Rental Shop
        .col-xl-3.col-md-4.col-sm-6.mb-
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='#', style='width: auto;')
                .card-body
                    i.fas.fa-ticket-alt.fa-3x
                    h4.card-title.font-weight-bold Ticket Office
        .col-xl-3.col-md-4.col-sm-6.mb-3
            a.card-pop.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark(href='#', style='width: auto;')
                .card-body
                    i.fas.fa-cash-register.fa-3x
                    h4.card-title.font-weight-bold Kitchen
