extends layout

block content
    .container
        .card.card-login.mx-auto.mt-5
            .card-header Login
            .card-body
                form
                    .form-group
                        p.text-danger#warning
                        .form-label-group
                            input#inputUsername.form-control(type='text' placeholder='Username' required='required' autofocus='autofocus' name='username')
                            label(for='inputUsername') Username
                    .form-group
                        .form-label-group
                            input#inputPassword.form-control(type='password' placeholder='Password' required='required' name='password')
                            label(for='inputPassword') Password
                    //.form-group
                    //    .checkbox
                    //        label
                    //            input(type='checkbox' value='remember-me')
                    //            |                 Remember Password
                    button.btn.btn-primary.btn-block#login-btn Login
                .text-center
                    a.d-block.small.mt-3(href='register') Create an Account
                    a.d-block.small(href='forgot-password') Forgot Password?
block scripts
    script(src='/js/login.js')

