extends layout

block content
    .container
        .card.card-login.mx-auto.mt-5
            .card-header Login
            .card-body
                form
                    .form-group
                        p.text-danger#warning
                        .form-label-group
                            input#inputUsername.form-control(type='text' placeholder='Username' required='required' autofocus='autofocus' name='username')
                            label(for='inputUsername') Username
                    .form-group
                        .form-label-group
                            input#inputPassword.form-control(type='password' placeholder='Password' required='required' name='password')
                            label(for='inputPassword') Password
                    button.btn.btn-primary.btn-block#login-btn Login
                .text-center
block scripts
    script(src='/js/login.js')

