extends layout

block head
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack-extra.css')

block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='/') Dashboard
        li.breadcrumb-item
            a(href='/admin') Admin
        li.breadcrumb-item
            a(href='/admin/configure') Configure
        li.breadcrumb-item.active #{active}
    .jumbotron.jumbotron-fluid(style="width: 66%; float: left;")
        .container
            .grid-stack
                each item in inventory
                    .grid-stack-item.card-pop.item.a-no-style.card.shadow.p-3.mb-3.bg-white.rounded.text-dark.kitchen-tile(data-gs-width='2' data-gs-height='2')
                        .grid-stack-item-content
                            .card-body.kitchen-tile-content(style='width: auto')
                                .card-title.font-weight-bold #{item.name}

block scripts
    script(src='https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js')
    script(src='/js/pos_config.js')
