extends layout

block content
    .container
        .card.card-register.mx-auto.mt-5
            .card-header Create New User
            .card-body
                form(method='POST', action='/register', id='registerForm').form-signin
                    .form-group
                        .form-row
                            .col-md-6
                                .form-label-group
                                    input#firstName.form-control(type='text' placeholder='First name' required='required' autofocus='autofocus', name='firstName')
                                    label(for='firstName') First name
                            .col-md-6
                                .form-label-group
                                    input#lastName.form-control(type='text' placeholder='Last name' required='required', name='lastName')
                                    label(for='lastName') Last name
                    .form-group
                        .form-label-group
                            input#username.form-control(type='text' placeholder='Username' required='required', name='username')
                            label(for='username') Username
                    .form-group
                        .form-row
                            .col-md-6
                                .form-label-group
                                    input#inputPassword.form-control(type='password' placeholder='Password' required='required', name='password')
                                    label(for='inputPassword') Password
                            .col-md-6
                                .form-label-group
                                    input#confirmPassword.form-control(type='password' placeholder='Confirm password' required='required', name='confirmPassword')
                                    label(for='confirmPassword') Confirm password
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Create Account
                .text-center
                    a.d-block.small.mt-3(href='login') Login Page
                    a.d-block.small(href='forgot-password') Forgot Password?