extends layout

block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='/') Dashboard
        li.breadcrumb-item
            a(href='/rentals') Rentals
        li.breadcrumb-item.active Returns

    .d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
        .input-group
            input.form-control#search(type='text' placeholder='Search for...' aria-label='Search')

    .row
        .col-md-4
        .col-md-4
            #rentalsOut.text-center
                each item in data
                    button.btn-block.btn-info.btn-lg.open-rentals(id=item.customer.license data-toggle='modal' data-target='#equipmentModal') #{item.customer.firstName} #{item.customer.lastName}
        .col-md-4
block scripts
    script.
        let rental_data = !{JSON.stringify(data).replace(/<\//g, '<\\/')};
    script(src='/js/rentals.js')