extends layout

block content
    .container
        .card.mx-auto.mt-5(style='max-width: 18rem;')
            .card-header.text-center Success
            .card-body.text-center
                p.card-text #{username} was successfully created!
                text-center
                    a.d-block.small.mt-3(href='index') Dashboard
                    a.d-block.small(href='logout') Logout

