extends layout
block head
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css')

block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='/') Dashboard
        li.breadcrumb-item
            a(href='/admin') Admin
        li.breadcrumb-item
            a(href='/admin/inventory') Inventory
        li.breadcrumb-item.active Tickets
    .card.mb-3
        .card-header
            .card-body
                .table-responsive
                    table#ticketDataTable.table.table-bordered.data-table(style="width='100%'")
                        thead
                            tr
                                th Ticket
                                th Price
                        tbody
                            if tickets
                                each ticket in tickets
                                    tr
                                        td #{ticket.name}
                                        td #{ticket.price.toFixed(2)}
                button#ticketAdd.btn.btn-primary.table-btn(type='button' data-toggle='modal' data-target='#createModal') Add
                button#ticketUpdate.update-btn.btn.btn-secondary.table-btn.disabled(type='button' disabled data-toggle='modal' data-target='#updateModal') Update
                button#ticketDel.delete-btn.btn.btn-danger.table-btn.disabled(type='button' disabled data-toggle='modal' data-target='#deleteModal') Delete
            .card-footer.small.text-muted.date-updated
    #createModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='createModal' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#modalTitle.modal-title New Ticket
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p.text-center.text-danger#errmsg
                    form(id='ticketForm').form-signin
                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input#name.form-control(type='text' placeholder='Ticket Name' required autofocus='autofocus', name='name')
                                        label(for='name') Ticket Name
                                .col-md-6
                                    .form-label-group
                                        input#price.form-control(type='text' placeholder='Price' required name='price')
                                        label(for='price') Price
                        button.btn.btn-lg.btn-primary.btn-block#createBtn Create Ticket
                    .text-center
    #completedModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='completedModalTitle' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#completedModalTitle.modal-title
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body#completedMsg
                    |
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    #updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='updateModal' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#updateModalTitle.modal-title Update Ticket
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p.text-center.text-danger#errmsg-update
                        form(id='updateForm').form-signin
                            .form-group
                                .form-row
                                    .col-md-6
                                        .form-label-group
                                            input#update_name.form-control(type='text' placeholder='Ticket Name' name='update_name')
                                            label(for='update_name') Ticket Name
                                    .col-md-6
                                        .form-label-group
                                            input#update_price.form-control(type='text' placeholder='Price' name='update_price')
                                            label(for='update_price') Price
                            button.btn.btn-lg.btn-primary.btn-block#updateBtn Update Ticket
    #deleteModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModal' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#deletedModalTitle.modal-title Delete Ticket
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p.text-center.text-danger#err
                    p#delMsg
                .modal-footer
                    button.btn.btn-danger#deleteBtn Confirm
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel

block scripts
    script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js')
    script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js')
    script(src="/js/datatables.js")
    script(src="/js/ticket_inventory.js")
    script(src="/js/admin.js")

