.highlighted {
  background-color: whitesmoke !important;

}
tr.selected {
  background-color: darkgray !important;
}
.font-12 {
  font-size: 12px;
}
.invalid {
  box-shadow: 0 0 1px 1px red
}
.table-btn {
  margin: 4px;
}
.a-no-style:hover {
  text-decoration: none;
}
.card-pop:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.line-items {
  text-align: left;
  margin-left: 5%;
  list-style-type: none;
}
.line-item {
    padding: 1%;
    font-size: 18px;
}
.item-span {
  font-weight: bolder;
  font-size: 20px;
}
.item-span:hover {
  cursor: pointer;
}
.item-price {
  float: right;
  width: 20%;
  text-align: right;
}
#total, #subtotal, #tax {
  text-align: right;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0 !important;
  right: 0 !important;
  bottom: 0;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.kitchen-tile {
  border-radius: 1rem !important;
}
.kitchen-tile-content {
  text-align: center;
  padding: 30% 0;
  margin: auto;
}
.kitchen-tile-content:hover {
  cursor: pointer;
}
.jumbotron {
  padding: 1%;
  min-height: 50vh;
}